


body {
    color: linear-gradient(180deg, rgba(218, 53, 24,0.9) 0%, rgba(255, 163, 43, 0.8) 35%, rgba(255, 226, 184, 0.363) 100%); /* основной градиент */
    color: rgb(218, 53, 24); /* основной акцентный цвет */
    color: rgba(255, 226, 184, 0.363); /* цвет для ховеров*/
}
