
.footer {
    width: 100%;
    background: linear-gradient(0deg, rgba(218, 53, 24,0.9) 0%, rgba(255, 163, 43, 0.8) 35%, rgb(255, 255, 255) 100%);
}
.row p {
    color: rgb(218, 53, 24);
    font-weight: bold;
    font-size: large;
}
.row {
    margin-bottom: 0;
   
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 20px;
    padding-top: 50px;
    border-radius: 20px;
    
}

.footer-column1, .footer-column2, .footer-column3 {
    
    padding-left: 20px;
    width: 30%;
    
}
.footer-column1 *, .footer-column2 *, .footer-column3 * {
    margin: 20px auto;
}
.copyright {
    padding-left: 20px;
}
.footer-column3 ul {
    display: flex;
    flex-direction: row;
    gap: 10px;
    
}
.footer li {
    color:#8f2222;
}

.footer-image {
    width: 55px;
    height: 55px;
}



