body { 
    margin: 0; 
    padding: 0; 
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: overlay;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a {
    text-decoration:none;
    color: inherit;
}
ul {
    list-style-type: none;
    padding:0; 
    margin:0;
}
h1 {
    font-size: xx-large;
}
h2 {
    font-size: x-large;
}
h3 {
    font-size: large;
}


main {
    padding-top: 7%;
    width: 95%;
    margin-right: 2.5%;
    margin-left: 2.5%;
}

/* Стиль скроллбара */
::-webkit-scrollbar {
    
    
    width: 12px; /* Ширина скроллбара */    
    background-color: rgba(255, 163, 43,0.5);
    
}

/* Стиль "ползунка" */
::-webkit-scrollbar-thumb {
    background: rgb(255,7,7);
    background: linear-gradient(180deg, rgb(218, 53, 24) 0%, rgb(255, 179, 80) 50%, rgb(218, 53, 24) 100%);
    border-radius: 6px; /* Закругление углов ползунка */
}

/* Стиль ползунка при наведении */
::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(180deg, rgb(218, 53, 24) 0%, rgb(255, 218, 115) 50%, rgb(218, 53, 24) 100%);/* Цвет ползунка при наведении */
}
.btn {
    padding: 10px 20px;
    border: none;
    text-align: center;
    font-size: small;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    
}
#myBtn {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}
  
#myBtn.show {
    opacity: 1;
    visibility: visible;
}

/* Кнопка наверх */
.buttonTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-image: linear-gradient(90deg, rgb(218, 53, 24) 0%, rgb(255, 179, 80) 50%, rgb(218, 53, 24) 100%);
    color: white;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 30px;
    cursor: pointer;
    z-index: 1;
  }

  
.event-card, .university-card {
    display: flex;
    align-self: stretch;
    flex-direction: column;
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.event-card:hover, .university-card:hover, .event:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 25px rgba(255, 163, 43, 0.5);
}
  
.event-image, .university-image {
    width: 100%;
    max-height: 220px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    
}
.event-image {
    height: 250px;
}
.university-image {
    height: 10px;
}
.event-img {
    width: 300px;
}
  
.event-details {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 5px;
    justify-content: space-between;
}
  
.event-title, .university-card p {
    font-size: 24px;
    line-height: 1;
    margin-bottom: 0;
    color: #8f2222;

}

.event-title:hover, .university-card p:hover {
    font-weight: bold;
}
  
.event-description {
    font-size: 14px;
    line-height: 1.5;
    color: #555;
}
  
.event-date, .event-university {
    font-size: 14px;
    color: #777;
    margin-bottom: 0;
    margin-top: 0;
}
  
.event-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.tag {
    font-size: smaller;
    border-radius: 40px;
    padding: 5px 10px;
    color: rgba(218, 53, 24, 0.664);
}
  

  
.btn-primary {
    background: linear-gradient(180deg, rgb(218, 53, 24) 0%, rgb(255, 179, 80) 50%, rgb(218, 53, 24) 100%);
    color: white;
}
  
.btn-primary:hover {
    background: linear-gradient(180deg, rgb(218, 53, 24) 0%, rgb(255, 218, 115) 50%, rgb(218, 53, 24) 100%);
}

.btn-redirect {
    font-size: large;
    right: 0;
    left: 0;
}
  


.btn-secondary, .btn-redirect {
    background-color: rgba(255, 226, 184, 0.363);
    color: rgb(218, 53, 24);
}
  
.btn-secondary:hover, .btn-redirect:hover {
    background-color: rgba(255, 225, 184, 1);
    color: #8f2222;
}

.no-hover:hover {
    background: linear-gradient(180deg, rgb(218, 53, 24) 0%, rgb(255, 179, 80) 50%, rgb(218, 53, 24) 100%);
    color: white;
    cursor:default;
}

input[type='radio']:after, input[type='checkbox']:after {
    width: 15px;
    height: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: rgb(255, 227, 191);
    content: '';
    display: inline-block;
    visibility: visible;
}

input[type='radio']:checked:after, input[type='checkbox']:checked:after {
    width: 15px;
    height: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: rgb(255, 163, 43);
    content: '';
    display: inline-block;
    visibility: visible;
}
 
input[type='radio']:after, input[type='radio']:checked:after {
    border-radius: 15px;
}

input[type='checkbox']:after, input[type='checkbox']:checked:after {
    border-radius: 3px;
}


.checkbox, .form_radio_btn {
    display: flex;
    align-items: center;
    gap: 3px;
}
